<%- include('header.ejs') %>
<section id="contact" class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info">
          <h2>Contact Us</h2>
          <p>Have questions or feedback? Feel free to reach out to us!</p>
          <ul>
            <li><i class="fa fa-envelope"></i> Email: pretamram0@gmail.com</li>
            <li><i class="fa fa-phone"></i> Phone: +91 6296546434</li>
            <li><i class="fa fa-map-marker"></i> Address: Mg Road Main Street, City</li>
          </ul>
        </div>
      </div>
      

        </section>
<%- include('footer.ejs') %>
