<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Your+Futuristic+Font&display=swap"
      rel="stylesheet"
    />

    <body>
      <!-- Create a navigation bar with Bootstrap -->
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <!-- Add a hamburger icon and button for small screens -->
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DAILY JOURNAL</a>
          </div>

          <!-- Create a collapsible navbar -->
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <!-- Add your navigation links here -->
              <li id="home"><a href="/">HOME</a></li>
              <li id="about"><a href="#">ABOUT US</a></li>
              <li id="contact"><a href="#">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Add the rest of your page content here -->

      <!-- Include Bootstrap JavaScript and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
</html>
